<!DOCTYPE html>
<html>
<head>
  <title>Ideajournal</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">The Idea Journal</a>
				<ul class="nav">
					<li class="active"><a href="/ideas">Ideas</a></li>
					<li><a href="/pages/info.html">Info</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		<%= yield %>
	</div>

	<footer>
		<div class="container">
			Robert J. Graves <%= Time.now.year %>
		</div>
	</footer>


</body>
</html>
